//font-family: 'Heebo', sans-serif
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
//font-family: 'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
//font-family: 'Righteous', cursive;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

//mixins

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

/*Common styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Hebbo", sans-serif;
}

html{
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	position:relative;
}

/*header section*/

.header_section {
	@include size(100%, 100vh);
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #001149;
}

.animation_background {
	@include size(150%, 150vw);
	background-color: rgba(1, 10, 133, 0.8);
	position: absolute;
	top: 50vh;
	left: calc(50% - 75vw);
	border-radius: 45%;
	animation: rotate 20s infinite;
}

.animation_background:before {
	content: "";
	@include size(100%, 100%);
	background-color: rgba(1, 10, 133, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 40%;
	animation: rotate 30s infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*navbar*/

.navbar {
	position: relative;
	top: 7rem;
	display: flex;
	justify-content: space-evenly;
	.navbar_link {
		font-size: 1.2rem;
		letter-spacing: 0.2rem;
		color: #ffff;
		margin-bottom: 5px;
		z-index: 20;
		transition: all 0.5s;
		&:hover {
			text-decoration: underline;
		}
	}
}

.main_title {
	width: 80%;
	font-size: 4vw;
	font-family: "Righteous", cursive;
	font-weight: 80;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	color: #ffff;
}


/*end of header section*/

/*Customer Section*/
.section_heading {
	position: absolute;
	top: 60vh;
	left: calc(50% - 15vw);
	font-weight: 75;
	font-size: 5vw;
	color: #4e4e4e;
	opacity: 0.3;
}

.customers_section {
	@include size(100%, 100vh);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.logo {
		position: absolute;
		top: 5rem;
		left: calc(50% - 10vw);
		img {
			@include size(20vw, 20vw);
			max-width: 100%;
			max-height: 100%;
		}
	}

	.customer_wrapper {
    	@include size(100%, 70vh);
		top: 80vh;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		transition: transform 1.5s;
		transform: translateX(-110rem);
		
	}
	.customer1,
	.customer2,
	.customer3 {
		@include size(20rem, 30rem);
		display: flex;
		background-color: #eeeeee;
		border-radius: 5%;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		box-shadow: 1rem 1rem 2rem #ddd;
		transition: box-shadow 2s;
		&:hover {
			box-shadow: 2rem 2rem 3rem rgba(73, 73, 97, 0.6);
		}
	}
	.customer1 {
		align-self: flex-end;
	}

	.customer3 {
		align-self: flex-start;
	}
	.customer_img {
		@include size(9rem, 9rem);
		border-radius: 50%;
		object-fit: cover;
	}
}

.fa-quote-left {
	font-size: 1rem;
	color: #eeaa00;
	margin-top: 0.5rem;
}

.customer_text {
	text-align: left;
	font-size: 0.8rem;
	margin: 1rem 1rem;
	&:first-letter {
		margin-left: 1rem;
	}
}

.customer_rating i {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #eeaa00;
}

.customer_name {
	font-size: 1rem;
	margin-top: 1rem;
}
//end of customer section

/*team section*/

.team_section {
	@include size(100%, 100vh);
	position: relative;
  top: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.team_heading{
  position: absolute;
	top: 20vh;
	left:50%;
  transform:translateX(-50%);
	font-weight: 75;
	font-size: 5vw;
	color: #121b96;
	opacity: 0.8;
}

.team_wrapper {
  @include size(100%, 70vh);
  top: 40vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.team_member1, .team_member2, .team_member3 {
	@include size(20rem, 30rem);
  		position: relative;
		display: flex;
		background-color: #eeeeee;
		border-radius: 5%;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		box-shadow: 1rem 1rem 2rem #ddd;
    	transition: box-shadow 0.3s;
    	&:hover {
			box-shadow: 2rem 2rem 3rem rgba(73, 73, 97, 0.6);
		}
    li{
      font-size: .8rem;
    }
}
.team_member1{
  align-self: flex-start;
 }

 .team_member-img1{
	@include size(100%, 20rem);
	border-radius: 0.5rem;
  }

.team_member3{
  align-self: flex-end;
}
.team_member-img {
  @include size(100%, 16rem);
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}

.team_member-name{
  margin-top: .5rem;
  font-size: 1rem;
}


.projects_btn{
  background-color: #eeaa00;
  color: #ffff;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: 5rem;
  font-size: .8rem;
  letter-spacing: .05rem;
}

//aboutme deployable

.aboutme_btn{
  @include size(3rem, 3rem);
  background-color: #222;
  position:absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  padding: .5rem;
  align-items: center;
  z-index: 20;
  transition: transform  .5s;
  cursor: pointer;
  .aboutme_btn-line{
    @include size(100%, .1rem);
    background-color:#ffff;
    }
}

.change.aboutme_btn{
  transform: rotate(225deg);
}

.aboutme_container{
  @include size(100%, 100%);
  background-color:rgba(11, 8, 190, 0.8);
  color: #ffff;
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform-origin: top right;
  transition: .5s;
  border-radius: 50rem 0rem 50rem 50rem;
}

.change.aboutme_container{
  transform: scale(1);
  border-radius: 0;
}
.aboutme_heading{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
}

.aboutme_content{
    font-size: .9rem;
    text-align: left;
    letter-spacing: .05rem;
    text-indent: 1rem;
    margin: 2rem;
}

//contact section

.contact_heading{
	font-weight: 75;
	font-size: 5vw;
	color:rgba(180, 180, 180, 0.933);
	opacity: 0.8;
}
.contact_aside{
	@include size(100%, 130vh);
	position: absolute;
	top:420vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
}

.form_container{
	@include size(80%, 40%);
	background-color: #e5e9ff;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: .3rem .3rem .4rem;
}

.form_img{
	@include size(40rem, 30rem);
	background-color: rgba(0, 45, 243, 0.8);
	padding:2rem;
	opacity: 0.8;
	box-shadow: -3rem 3rem 4rem #aaa;
	border-radius: 1rem;
}

.contact_form{
	@include size(40rem, 30rem);
	padding-top: 2rem;
	padding-left:5px;
	background-color: #fff;
	display:flex;
	flex-direction: column;
	border-radius: .5rem;
	box-shadow: 3rem 3rem 4rem  #aaa;
	transform: skewX(-10deg);
	transition: all .3s;
	&:hover{
		transform: skewX(0);
	}
}

.contact_form textarea{
	max-height: 9rem;
	max-width:40rem;
	
}

.contact_form input,
.contact_form textarea{
	border: 1px solid #4e4e4e;
	outline: none;
	margin: 1rem;
	padding: 1rem;
	font-size: 1rem;
	letter-spacing: .1rem;
	border-radius: 2rem;
}
.submit_button{
	@include size(10rem, 3rem);
	margin-left: 1.5rem;
	background-color: rgba(5, 36, 177, 0.867);
	color: #ffff;
	border-radius: 5rem;
	outline: none;
	font-size: 1rem;
	border: none;
	&:hover{
		background-color: #112ed3;
	}
}

.copyright{
	letter-spacing: .1rem;
	font-size: .6rem;
}

.up_button{
	@include size(3rem, 3rem);
	background-color: #0000ff;
	color: #ffff;
	position: fixed;
	bottom: 0.1em;
	right: 0.1rem;
	border-radius: 50%;
	display: flex;
	align-items:center;
	z-index: 30;
	justify-content: center;
	transition:background-color .3s;
	&:hover{
		background-color: #112ed3;
	}
}
								
							//RESPONSIVE


@media (max-width: 1300px){
	.customer_wrapper{
		position: absolute;
		flex-wrap: wrap;
		top: -50vh;
	}
	.customers_section{
		top: 0vh;
		height:50vh;
		.section_heading{
			top: 47vh;
		}
	}
	.customer1, .customer2, .customer3{
		margin: 5rem 1rem;
	}


	.team_section{
		top:60vh;
	}

	.team_heading{
		top: 35vh
	}
	.team_wrapper{
		flex-wrap: wrap;
	}
	.team_member1, .team_member2, .team_member3{
		margin: 5rem 1rem,
	}

	
	.contact_aside{
		top: 340vh;
	}
	.form_container{
		height:50%;
	}
	.contact_form{
		width: 60vw;
	}

	.form_img{
		display: none;
	}

}
///////////////////

@media (max-width: 1060px) {
	.animation_background {
		top: 70vh;
	}
	.main_title {
		font-size: 3rem;
	}

	.team_section{
		top: 110vh;
	}

	.contact_aside{
		top: 430vh;
	}

}
/////////////////////////


@media (max-width: 710px) {

	.main_title{
		font-size: 2rem;
	}
	.animation_background {
		top: 80vh;
	}
	.navbar {
		z-index: 20;
		display: block;
		
	}
	.navbar_link {
		margin-left: 1rem;
		font-size: .3rem;
	}

	.contact_form{
		height:  20rem;
	}

	.submit_button{
		font-size: .8rem;
		@include size(5rem, 2rem);
	}

	.contact_form input,textarea::placeholder{
		font-size: .6rem;
		
	}
	.contact_form  textarea{
		font-size: 10px;
	}

	.team_section{
		top: 220vh;
	}

	.contact_aside{
		top: 650vh;
	}
}

@media (max-width: 380px){
	.contact_form  textarea{
		height: 1rem;
		font-size: 10px;
	}
	.contact_form input,textarea::placeholder{
		font-size: .3rem;
	}

	.contact_form input{
		height: 2rem;
	}
	.submit_button{
		width: 3rem;
	}
}

@media ( max-height: 800px){
	.team_section{
		top:260vh;
	}
	.contact_aside{
		top: 740vh;
	}
}

@media ( max-height: 680px){
	.team_section{
		top:300vh;
	}
	.contact_aside{
		top: 800vh;
	}
}

@media ( max-height: 610px){
	.team_section{
		top:320vh;
	}
	.contact_aside{
		top: 850vh;
	}
}