//font-family: 'Heebo', sans-serif
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
//font-family: 'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
//font-family: 'Righteous', cursive;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

//mixins

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

//variables

$color1:  #eee;
$color2: rgb(79, 131, 243);
$text-color: #222;

/*Common styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Hebbo", sans-serif;
}

html{
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position:relative;
}

/*header section*/

.header_section {
	@include size(100%, 100vh);
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: $color2;
}

.animation_background {
	@include size(150%, 150vw);
	background-color: rgb(1, 43, 133);
	position: absolute;
	top: 50vh;
	left: calc(50% - 75vw);
	border-radius: 45%;
	animation: rotate 20s infinite;
}

.animation_background:before {
	content: "";
	@include size(100%, 100%);
	background-color: rgb(1, 43, 133);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 40%;
	animation: rotate 40s infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

25% {
	transform: rotate(100deg)
}
 50%{
	 transform: rotate(50deg);
 }
 75%{
	 transform: rotate (-160deg);
 }
	100% {
		transform: rotate(0deg);
	}
}

/*navbar*/

.navbar {
	position: fixed;
	@include size(100%, 70px);
	z-index: 30;
	background-color: $text-color;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	.navbar_link {
		font-size: 1rem;
		color: #ffff;
		margin-bottom: 5px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.main_title {
	width: 80%;
	font-size: 4vw;
	font-family: "Righteous", cursive;
	font-weight: 80;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	color: #ffff;
}


/*end of header section*/

/*Customer Section*/
.section_heading {
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 75;
	font-size: 7vw;
	color: $color2;
}

.customers_section {
	@include size(100%, 500px);
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: $color1;
	.logo {
		position: absolute;
		top: 2rem;
		left: calc(50% - 5vw);
		img {
			@include size(10vw, 10vw);
			max-width: 100%;
			max-height: 100%;
		}
	}

	.customer_wrapper {
    	@include size(100%, 900px);
		top: 500px;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		transition: transform 1.5s;
		transform: translateX(-110rem);
		
	}
	.customer1,
	.customer2,
	.customer3 {
		@include size(20rem, 30rem);
		margin: 10px;
		display: flex;
		background-color: $color2;
		border-radius: 5%;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		box-shadow: 1rem 1rem 2rem #ddd;
		transition: box-shadow 2s;
		&:hover {
			box-shadow: 2rem 2rem 3rem rgba(73, 73, 97, 0.6);
		}
	}
	.customer1 {
		align-self: flex-end;
	}

	.customer3 {
		align-self: flex-start;
	}
	.customer_img {
		@include size(9rem, 9rem);
		border-radius: 50%;
		object-fit: cover;
	}
}

.fa-quote-left {
	font-size: 1rem;
	color: #eeaa00;
	margin-top: 0.5rem;
}

.customer_text {
	color: $color1;
	text-align: left;
	font-size: 0.8rem;
	margin: 1rem 1rem;
	&:first-letter {
		margin-left: 1rem;
	}
}

.customer_rating i {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #eeaa00;
}

.customer_name {
	font-size: 1rem;
	margin-top: 1rem;
	color: $color1;
}
//end of customer section

/*team section*/

.team_section {
	@include size(100%, 300px);
	position: relative;
	background-color: $color1;
  	top: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.team_heading{
  position: absolute;
	top: 30%;
	left:50%;
  transform:translateX(-50%);
	font-weight: 75;
	font-size: 5vw;
	color:$color2;
	opacity: 0.8;
}

.team_wrapper {
  @include size(100%, 800px);
  top: 300px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.team_member1, .team_member2, .team_member3 {
	@include size(20rem, 30rem);
  		position: relative;
		  margin: 10px;
		display: flex;
		background-color:$color2;
		color: $color1;
		border-radius: 5%;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
    	transition: box-shadow 0.3s;
    	&:hover {
			box-shadow: 2rem 2rem 2rem rgba(73, 73, 97, 0.6);
		}
    li{
      font-size: .8rem;
    }
}
.team_member1{
  align-self: flex-start;
 }

 .team_member-img1{
	@include size(100%, 20rem);
	border-radius: 0.5rem;
  }

.team_member3{
  align-self: flex-end;
}
.team_member-img {
  @include size(100%, 16rem);
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}

.team_member-name{
  margin-top: .5rem;
  font-size: 1rem;
}


.projects_btn{
  background-color: #eeaa00;
  color:#222;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: 5rem;
  font-size: .8rem;
  letter-spacing: .05rem;
}

//aboutme deployable

.aboutme_btn{
  @include size(3rem, 3rem);
  background-color: #222;
  position:absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  padding: .5rem;
  align-items: center;
  z-index: 20;
  transition: transform  .5s;
  cursor: pointer;
  .aboutme_btn-line{
    @include size(100%, .1rem);
    background-color: $color1;
    }
}

.change.aboutme_btn{
  transform: rotate(225deg);
}

.aboutme_container{
  @include size(100%, 100%);
  background-color:#222;
  opacity: 0.8;
  color: #ffff;
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform-origin: top right;
  transition: .5s;
  border-radius: 50rem 0rem 50rem 50rem;
}

.change.aboutme_container{
  transform: scale(1);
  border-radius: 0;
}
.aboutme_heading{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
}

.aboutme_content{
    font-size: .9rem;
    text-align: left;
    letter-spacing: .05rem;
    text-indent: 1rem;
    margin: 2rem;
}

//contact section

.contact_heading{
	font-weight: 75;
	font-size: 5vw;
	color: $color1;
	opacity: 0.8;
}

.contact_aside{
	@include size(100%, 100vh);
	position: relative;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
	top: 1600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
	background-color: $color2;
}

.form_container{
	@include size(80%, 40%);
	border-radius: 20px;
	background-color: $color1;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: .3rem  .1rem  .6rem;
}

.form_img{
	@include size(40rem, 40rem);
	padding:2rem;
	border-radius: 1rem;
}

.contact_form{
	@include size(40rem, 30rem);
	padding-top: 2rem;
	padding-left:5px;
	background-color: $color2;
	display:flex;
	flex-direction: column;
	border-radius: .5rem;
	transform: skewX(-13deg);
	transition: all .3s;
	&:hover{
		transform: skewX(0);
	}
}

.contact_form textarea{
	max-height: 9rem;
	max-width:40rem;
	
}

.contact_form input,
.contact_form textarea{
	border: none;
	background-color: $color1;
	outline: none;
	margin: 1rem;
	padding: 1rem;
	font-size: 1rem;
	letter-spacing: .1rem;
	border-radius: 2rem;
}
.submit_button{
	@include size(10rem, 3rem);
	margin-left: 1.5rem;
	background-color:  #112ed3;
	color: #ffff;
	border-radius: 5rem;
	outline: none;
	font-size: 1rem;
	border: none;
	&:hover{
		background-color: $color2;
	}
}

.copyright{
	z-index: 10;
	position: relative;
	letter-spacing: .1rem;
	font-size: .6rem;
	color: $color1;
}

.up_button{
	@include size(3rem, 3rem);
	background-color: #0000ff;
	color: #ffff;
	position: fixed;
	bottom: 0.1em;
	right: 0.1rem;
	border-radius: 50%;
	display: flex;
	align-items:center;
	z-index: 30;
	justify-content: center;
	transition:background-color .3s;
	&:hover{
		background-color: #112ed3;
	}
}
								
							//RESPONSIVE

@media (max-width: 1020px){

	.customer_wrapper{
		margin-top: 600px;
	}

	.contact_aside{
		margin-top: 200px ;
	}

	.team_section{
		margin-top: 300px;
	}
	.customer_wrapper, .team_wrapper{
		flex-wrap: wrap;
	}

		.up_button{
			margin-right: 30px;
		}

	.form_img{
		display: none;
	}

	.form_container{
		width: 100%;
	}
}

@media (max-width: 680px){
	.up_button{
		display: none;
	}

	.contact_form{
		transform: skewX(0);
		}

	.section_heading{
		top: 200px;
	}

	.customers_section{
		height: 300px;
	}

	.contact_aside{
		top: 2900px;
		margin: 0;
	}

	.logo img{
		top:150px;
	}

	.team_section{
		top: 1400px;
		margin: 100;
	}
}
	