@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/*Common styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Hebbo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

/*header section*/
.header_section {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4f83f3;
}

.animation_background {
  width: 150%;
  height: 150vw;
  background-color: #012b85;
  position: absolute;
  top: 50vh;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 20s infinite;
          animation: rotate 20s infinite;
}

.animation_background:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #012b85;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  -webkit-animation: rotate 40s infinite;
          animation: rotate 40s infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  75% {
    -webkit-transform: rotate -160deg;
            transform: rotate -160deg;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  75% {
    -webkit-transform: rotate -160deg;
            transform: rotate -160deg;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*navbar*/
.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 30;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .navbar_link {
  font-size: 1rem;
  color: #ffff;
  margin-bottom: 5px;
}

.navbar .navbar_link:hover {
  text-decoration: underline;
}

.main_title {
  width: 80%;
  font-size: 4vw;
  font-family: "Righteous", cursive;
  font-weight: 80;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffff;
}

/*end of header section*/
/*Customer Section*/
.section_heading {
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 75;
  font-size: 7vw;
  color: #4f83f3;
}

.customers_section {
  width: 100%;
  height: 500px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eee;
}

.customers_section .logo {
  position: absolute;
  top: 2rem;
  left: calc(50% - 5vw);
}

.customers_section .logo img {
  width: 10vw;
  height: 10vw;
  max-width: 100%;
  max-height: 100%;
}

.customers_section .customer_wrapper {
  width: 100%;
  height: 900px;
  top: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform: translateX(-110rem);
          transform: translateX(-110rem);
}

.customers_section .customer1,
.customers_section .customer2,
.customers_section .customer3 {
  width: 20rem;
  height: 30rem;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4f83f3;
  border-radius: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-box-shadow: 1rem 1rem 2rem #ddd;
          box-shadow: 1rem 1rem 2rem #ddd;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
}

.customers_section .customer1:hover,
.customers_section .customer2:hover,
.customers_section .customer3:hover {
  -webkit-box-shadow: 2rem 2rem 3rem rgba(73, 73, 97, 0.6);
          box-shadow: 2rem 2rem 3rem rgba(73, 73, 97, 0.6);
}

.customers_section .customer1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.customers_section .customer3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.customers_section .customer_img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-quote-left {
  font-size: 1rem;
  color: #eeaa00;
  margin-top: 0.5rem;
}

.customer_text {
  color: #eee;
  text-align: left;
  font-size: 0.8rem;
  margin: 1rem 1rem;
}

.customer_text:first-letter {
  margin-left: 1rem;
}

.customer_rating i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #eeaa00;
}

.customer_name {
  font-size: 1rem;
  margin-top: 1rem;
  color: #eee;
}

/*team section*/
.team_section {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #eee;
  top: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team_heading {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 75;
  font-size: 5vw;
  color: #4f83f3;
  opacity: 0.8;
}

.team_wrapper {
  width: 100%;
  height: 800px;
  top: 300px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_member1, .team_member2, .team_member3 {
  width: 20rem;
  height: 30rem;
  position: relative;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4f83f3;
  color: #eee;
  border-radius: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.team_member1:hover, .team_member2:hover, .team_member3:hover {
  -webkit-box-shadow: 2rem 2rem 2rem rgba(73, 73, 97, 0.6);
          box-shadow: 2rem 2rem 2rem rgba(73, 73, 97, 0.6);
}

.team_member1 li, .team_member2 li, .team_member3 li {
  font-size: .8rem;
}

.team_member1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team_member-img1 {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.team_member3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.team_member-img {
  width: 100%;
  height: 16rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.team_member-name {
  margin-top: .5rem;
  font-size: 1rem;
}

.projects_btn {
  background-color: #eeaa00;
  color: #222;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: 5rem;
  font-size: .8rem;
  letter-spacing: .05rem;
}

.aboutme_btn {
  width: 3rem;
  height: 3rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  -webkit-transition: -webkit-transform  .5s;
  transition: -webkit-transform  .5s;
  transition: transform  .5s;
  transition: transform  .5s, -webkit-transform  .5s;
  cursor: pointer;
}

.aboutme_btn:hover {
  background-color: #000;
}

.aboutme_btn .aboutme_btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #eee;
}

.change.aboutme_btn {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.aboutme_container {
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.8;
  color: #ffff;
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50rem 0rem 50rem 50rem;
}

.change.aboutme_container {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
}

.aboutme_heading {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
}

.aboutme_content {
  font-size: .9rem;
  text-align: left;
  letter-spacing: .05rem;
  text-indent: 1rem;
  margin: 2rem;
}

.contact_heading {
  font-weight: 75;
  font-size: 5vw;
  color: #eee;
  opacity: 0.8;
}

.contact_aside {
  width: 100%;
  height: 100vh;
  position: relative;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  top: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4f83f3;
}

.form_container {
  width: 80%;
  height: 40%;
  border-radius: 20px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: .3rem  .1rem  .6rem;
          box-shadow: .3rem  .1rem  .6rem;
}

.form_img {
  width: 40rem;
  height: 40rem;
  padding: 2rem;
  border-radius: 1rem;
}

.contact_form {
  width: 40rem;
  height: 30rem;
  padding-top: 2rem;
  padding-left: 5px;
  background-color: #4f83f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .5rem;
  -webkit-transform: skewX(-13deg);
          transform: skewX(-13deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact_form:hover {
  -webkit-transform: skewX(0);
          transform: skewX(0);
}

.contact_form textarea {
  max-height: 9rem;
  max-width: 40rem;
}

.contact_form input,
.contact_form textarea {
  border: none;
  background-color: #eee;
  outline: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: .1rem;
  border-radius: 2rem;
}

.submit_button {
  width: 10rem;
  height: 3rem;
  margin-left: 1.5rem;
  background-color: #112ed3;
  color: #ffff;
  border-radius: 5rem;
  outline: none;
  font-size: 1rem;
  border: none;
}

.submit_button:hover {
  background-color: #4f83f3;
}

.copyright {
  z-index: 10;
  position: relative;
  letter-spacing: .1rem;
  font-size: .6rem;
  color: #eee;
}

.up_button {
  width: 3rem;
  height: 3rem;
  background-color: #0000ff;
  color: #ffff;
  position: fixed;
  bottom: 0.1em;
  right: 0.1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.up_button:hover {
  background-color: #112ed3;
}

@media (max-width: 1020px) {
  .customer_wrapper {
    margin-top: 600px;
  }
  .contact_aside {
    margin-top: 200px;
  }
  .team_section {
    margin-top: 300px;
  }
  .customer_wrapper, .team_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .up_button {
    margin-right: 30px;
  }
  .form_img {
    display: none;
  }
  .form_container {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .up_button {
    display: none;
  }
  .contact_form {
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  .section_heading {
    top: 200px;
  }
  .customers_section {
    height: 300px;
  }
  .contact_aside {
    top: 2900px;
    margin: 0;
  }
  .logo img {
    top: 150px;
  }
  .team_section {
    top: 1400px;
    margin: 100;
  }
}
/*# sourceMappingURL=styles.css.map */